footer
    nav
        ul
            li
                a(href="#") INSTAGRAM 정보
            li
                a(href="#") 지원
            li
                a(href="#") 블로그관련
            li
                a(href="#") 기사
            li
                a(href="#") API
            li
                a(href="#") 채용
            li
                a(href="#") 정보개인정보처리방침
            li
                a(href="#") 약관
            li
                a(href="#") 디렉터리
            li
                a(href="#") 언어
    span.brand © 2017 Instagram
