header
    nav(role="navigation")
        div.container
            div.float-left.col-4
                div.logo
                    a.hide-text(href="/") Instagram
            div.float-left.col-4
                div.searchbar
                    input(type="text" placeholder="검색")
                    span.magnifier
            div.float-left.col-4

                div.float-right
                    div.my
                        a.hide-text(href="/explorer") 사람 찾기
                div.float-right
                    div.noti
                        a.hide-text(href="#") 활동 피드
                div.float-right
                    div.explorer
                        a.hide-text(href="/jeonghwan") 프로필
