header(style="border:solid 1px blue")
    nav(role="navigation")
        div
            a(href="/") Instagram
        div
            input(type="text" placeholder="검색")
        div
            div
                a(href="/explorer") 사람찾기
            div
                a(href="#") 활동피드
            div
                a(href="/jeonghwan") 프로필

