doctype html
html(lang="ko")
    head
        title= title
        link(rel="stylesheet" type="text/css" href="/assets/stylesheets/normalize.css")
        link(rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css")
    body
        include partials/header
        section
            include partials/user
        include partials/footer
