a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    color: black;
}
ol, ul {
    list-style: none;
    padding-left: 0;
}
main {
    font-family: proxima-nova, "Helvetica Neue";
}
header {
    border-bottom: 1px solid rgba(0,0,0,0.0941176);
}
nav {
    height: 31px;
    padding: 26px 40px;
}
.container {
    width: 1010px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.float-left {
    display: block;
    float: left;
}
.float-right {
    display: block;
    float: right;
}
.col-4 {
    width: 33.333%
}
.logo {
    background-image: url(../images/sprite.png);
    background-position: -176px 0;
    background-size: 352px 311px;
    height: 35px;
    width: 176px;
}
.logo > a {
    width: 100%;
    height: 100%;
}
.searchbar {
    width: 215px;
    height: 28px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    position: relative;
}
.searchbar input {
    border: solid 1px #dbdbdb;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 3px 10px 3px 26px;
}
.searchbar .magnifier {
    left: 11px;
    top: 9px;
    position: absolute;
    background-image: url(../images/sprite.png);
    background-position: -217px -112px;
    background-size: 352px 311px;
    height: 10px;
    width: 10px;
}
.hide-text {
    text-indent: 110%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
.explorer {
    background-image: url(../images/sprite.png);
    background-position: -26px -224px;
    background-size: 352px 311px;
    height: 24px;
    width: 24px;
}
.noti {
    background-image: url(../images/sprite.png);
    background-position: -176px -224px;
    background-size: 352px 311px;
    height: 24px;
    width: 24px;
}
.my {
    background-image: url(../images/sprite.png);
    background-position: -326px -224px;
    background-size: 352px 311px;
    height: 24px;
    width: 24px;
}
.explorer,
.noti,
.my {
    margin-left: 30px;
}
.explorer > a,
.noti > a,
.my > a {
    display: inline-block;
    height: 24px;
    width: 24px;
    overflow: hidden;
}
.float-clear {
    clear: both;
}

main {
    background-color: #fafafa;
}
main>section {
    width: 600px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
main section article {
    border: 1px solid #e6e6e6;
    background-color: #fff;
}
main section article header {
    height: 30px;
    padding: 15px 20px;
}
main section article header .profile-img {
    width: 30px;
    height: 30px;
    display: block;
    border: solid 1px  #e6e6e6;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}
main section article header .profile-img img {
    width: 100%;
    height: 100%;
}
main section article header .profile-id {
    display: block;
    float: left;
    line-height: 2em;
}
main section article header .profile-id a {
    font-weight: 600;
}
main section article header .time {
    display: block;
    float: right;
    line-height: 2em;
}
main section article header a.time {
    font-weight: 300;
    color: darkgray;
}
main section article .post-img {
    clear: both;
}
main section article .post-img img {
    width: 100%;
}
main section article .post-meta {
    padding: 20px 24px;
}
main section article .post-meta .user-likes{
    font-weight: normal;
}
main section article .post-meta .user-likes a {
    font-weight: 600;
    margin-right: .3em;
}
main section article .post-meta .reply .author h1 {
    font-size: 16px;
}
main section article .post-meta .reply .author a {
    font-weight: 600;
    margin-right: .3em;
}
main section article .post-meta .reply .author span {
    font-weight: normal;
}
main section article .post-meta .reply .others a {
    font-weight: 600;
    margin-right: .3em;
}
main section article .post-meta .reply .others span {

}
main section article .post-meta .reply .others button {
    background: 0 0;
    border: none;
    color: #c7c7c7;
    cursor: pointer;
    float: right;
}
main section article .post-meta .reply .others button:before {
    content: '\2715';
    display: block;
}
main section article .post-meta section.reply-form {
    border-top: solid 1px #e6e6e6;
    margin-top: 30px;
    padding-top: 15px;
}
main section article .post-meta section.reply-form a.cancel-like {
    display: block;
    height: 24px;
    width: 24px;
    overflow: hidden;
    text-indent: 200%;
    float: left;
    margin-right: .3em;
    padding: 10px;
}
main section article .post-meta section.reply-form .cancel-like span {
    background-image: url(../images/sprite.png);
    background-size: 357px 327px;
    background-position: -319px -186px;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    display:block;
}
main section article .post-meta section.reply-form form {
    float: left;
    padding: 10px;
    height: 24px;
    width: 437px;
}
main section article .post-meta section.reply-form form input {
    border: none;
    height: 100%;
    width: 100%;
}
main section article .post-meta section.reply-form button {
    background-image: url(../images/sprite.png);
    background-size: 357px 327px;
    background-position: -56px -187px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    text-indent: 110%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 44px;
    height: 44px;
    padding: 0;
}
